
/* Drop shadow added to header. Font set for the whole site */
body {
    font-family: Arial, san-serif;
}
/* ELEMENTS */
h1{
    color: #2a9d8f;
    text-shadow: 1px 1px 3px;
    text-align: center;
}

h3 {
    color: #073b4c;
}
/* Navigation section - changes on hover */
nav a {
    text-align: center;
    border-left: 1px white;
    text-transform: uppercase;
    text-decoration:none;
}
a {
    color: #a8dadc;
}
a:hover {
    color: white;
}

/* Table page. Did border collapse as best practice so no double lines. Added color for dimension. */

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid;
    text-align: left;
}
th, td {
    width: 25%; 
}
th {
    height: 50px;
    font-weight: bold;
    background-color:#2a9d8f;
}

tbody tr:nth-child(odd) {
    background-color: #a8dadc;
}
tbody tr:nth-child(even) {
    background-color:#2a9d8f
}
/* Form page. Centered and added color for dimension. Made the button change on hover. */
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #2a9d8f;
    border-radius: 4px;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
    font-size: 16px;
}
 input [type=text] {
    border: 2px;
 }
 button {
    background-color:#e9c46a;
    color: black;
    padding: 10px 15px;
    border: 3px black;
    border-radius: 4px;
    display: block;
    margin: auto;
 }
button:hover {
    background-color:#a8dadc;
}

/* CLASS. Added style to the favorite books list. */
.books-list {
    list-style-type: none;
    background: #264653;
    padding: 20px;
    list-style-type: none; 
    margin: 0;
}
.books-list li {
    background: #2a9d8f;
    color: black;
    margin: 5px 0;
    padding: 5px; 
    border-radius: 4px;
}


/* ID. Defined the nav bar and the headings so that my other headings weren't affected. */
#nav-bar {
    background: #073b4c;
    display: flex;
    justify-content: space-evenly;
}

#form-heading {
    text-align: center;
}

#table-header {
    text-align: center;
}